<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="">
    <p>
        Attendance
    </p>
    Chandrika :
    <input type="checkbox" name="chkChandrika" ng-model="chkChandrika" />
    <div ng-if="chkChandrika==true">
        <p>Chandrika is Present</p>
    </div>
    <div ng-if="chkChandrika==false">
        <p>Chandrika is Absent</p>
    </div>
</body>
</html>