<!-- <app-first></app-first>
<hr/>
<app-second></app-second>
<hr/>
<app-third></app-third>
<hr/>
<app-event></app-event>
<hr/>
<app-two-way></app-two-way>
<hr/>
<app-test></app-test>
<hr/>
<app-condition-ex></app-condition-ex>
<hr/>
<app-attendance-demo></app-attendance-demo>
<hr/>
<app-radio-ex></app-radio-ex>
<hr/>
<app-drop-down></app-drop-down>
<hr/>
<app-switch-demo></app-switch-demo>
<hr/>
<app-loop-ex></app-loop-ex>
<hr/>
<app-employ></app-employ>
<hr/>
<app-employ-drop-down></app-employ-drop-down> -->

<a [routerLink]="['first']">First</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['third']">Third</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['test']">Test</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['event']">Event</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['attendance']">Attendance</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['loop']">Loop</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['condition']">Condition</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employ']">Employ Component</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employDropDown']">Employ DropDown</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<router-outlet></router-outlet>