<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="" ng-init="students=[{name:'Apparao',age:23},
        {name:'Sai Kiran',age:24},
        {name:'Krishna Chandrika',age:22},
        {name:'Pravin Solunke',age:23},
        {name:'Shiva',age:23},
        {name:'Venu Gopal',age:24},
        {name:'Srikanth Reddy',age:23},
      ]">
    <p>
        Students are
    </p>
    <ol type="I">
        <li ng-repeat="s in students">
            <!--<div ng-if="s.age > 23">
                {{s.name}} of {{s.age}} old
            </div>-->
        </li>
    </ol>
    <hr />
    <p>
        Students are
    </p>
    <ol type="I">
        <li ng-repeat="s in students | limitTo:2">
            {{s.name}} of {{s.age}} old
        </li>
    </ol>
    <p>
        Students are
    </p>
    <ol type="I">
        <li ng-repeat="s in students | limitTo:-2">
            {{s.name}} of {{s.age}} old
        </li>
    </ol>
</body>
</html>